%h3 Base URL
#base-url
  - base_url = "#{SiteConfig.url_base}/name_finder.json"
  %p= base_url
%h3 Parameters (GET or POST)

%dl
  %dt url
  %dd
    An encoded URL for a web page, PDF, Microsoft Office document, or image file
    %br/
    %em e.g.
    = base_url + "?url=http://en.wikipedia.org/wiki/Animalia"
  %dt file
  %dd
    When using multipart/form-data as the content-type, a file may be sent.
  %dt text
  %dd
    Text content; best used with a POST request
    %br/
    %em e.g.
    =  base_url + "?text=A+spider+named+Pardosa+moesta+Banks,+1892"
  %dt engine
  %dd
    Optional. Either 1 for TaxonFinder, 2 for NetiNeti, or 0 for both. If absent, both engines are used.
    %br/
    %em e.g.
    = base_url + "?url=http://en.wikipedia.org/wiki/Animalia&amp;engine=1"
  %dt unique
  %dd
    Optional. If present, response has unique names without offsets.
    %br/
    %em e.g.
    = base_url + "?url=http://en.wikipedia.org/wiki/Animalia&amp;unique=true"
%h3 Output Format
%dl
  %dt JSON (default)
  %dd
    With optional callback parameter
    %br/
    %em e.g.
    = base_url + "?url=http://en.wikipedia.org/wiki/Animalia&amp;callback=MyCoolCallback"
  %dt XML
  %dd
    %em e.g.
    = base_url.sub(/json/,'xml') + "?url=http://en.wikipedia.org/wiki/Animalia"
