!!! 5
%html
  %head
    %meta{ :charset => "UTF-8" }/
    -if @redirect_url
      %meta{ 'http-equiv' => "refresh", :content => "#{@redirect_delay};url=#{@redirect_url}" }
    -if @meta_norobots
      %meta{ :content => "noindex,nofollow", :name => "robots" }/
    %title= @title || SiteConfig.title
    %link{ :href => '/main.css', :rel => 'stylesheet', :type => 'text/css' }
    %script{ :src => 'javascript/jquery-1.7.2.min.js', :type => 'text/javascript' }
    %script{ :src => 'javascript/jquery.tools.min.js', :type => 'text/javascript' }
    %script{ :src => 'javascript/application.js', :type => 'text/javascript' }
  %body
    #SiteContainer.structural
      .background
      #Header.structural.fixedWidth
        .inner
          #Logo
            %a{:href => "/"}
              %h1 Global Names Recognition and Discovery
          %ul#SiteNavigation
            - klass =  @page == "home" ? :active : nil
            %li{:class => klass}
              %a{:href => "/"} Home
            - klass = @page == "feedback" ? :active : nil
            %li{:class => klass}
              %a{:href => "/feedback"} Feedback
            - klass = @page == "history" ? :active : nil
            %li{:class => klass}
              %a{:href => "/history"} History
            - klass = @page == "api" ? :active : nil
            %li{:class => klass}
              %a{:href => "/api"} API
      #BodyContent.structural.fixedWidth.clear
        .inner
          #content-wrapper
            - if flash[:notice]
              #flash_notice= flash[:notice]
            - if flash[:error]
              #flash_error= flash[:error]
            - if flash[:warning]
              #flash_warning= flash[:warning]
            - if !@tagline.nil?
              %p{:class => 'tagline'}= @tagline
            - if !@header.nil?
              #content-splash
                %h2= @header
            #content-body= yield
      #Footer.structural.fixedWidth
        .inner
          %span
            %a{:href => 'http://www.globalnames.org'} Global Names Architecture
          |
          = succeed "|" do
            %span
              %a{:href => 'http://gni.globalnames.org'} Global Names Index
          = succeed "|" do
            %span
              %a{:href => "http://resolver.globalnames.org"} Global Names Resolver
          %span
            %a{:href => 'http://gnite.org'} Global Names Integrated Taxonomic Editor 
