%p#found-names-duration Results are accessible at this URL for 7 days
- if @output[:agent] && @output[:agent][:content_type] && @output[:agent][:content_type].include?("image")
  %h3
    Source Image
  #found-names-preview
    %img{:src => @output[:input_url]}
%ul#found-names-summary
  - if !@output[:input_url].blank?
    %li
      %strong= @output[:input_url]
  - if !@output[:file].blank?
    %li
      %strong= @output[:file]
  - if !@output[:total].blank? && @output[:status] == 200
    %li
      %strong= @output[:total]
      - if @output[:total] == 1
        name
      - else
        names
      found using
      %strong #{@output[:engines].join(" and ")}
  - if @output[:execution_time] && @output[:status] == 200
    %li
      = @output[:execution_time][:find_names_duration].to_s
      s to find names, #{@output[:execution_time][:total_duration].to_s} s for entire process
- if @output[:total] && @output[:total] > 0
  %table#found-names-grid
    %thead
      %tr
        %th Verbatim
        %th Scientific
    %tbody
      - cycle = "odd"
      - @output[:names].sort { |a,b| a[:verbatim] <=> b[:verbatim] }.each do |name|
        - cycle = (cycle == "odd") ? "even" : "odd"
        %tr{:class => cycle}
          %td= name[:verbatim]
          %td= name[:scientificName]
