<% title "Discovered Names" %>

<%- content_for :content_splash do -%>
<%= content_tag :h2, "Discovered Names" %>
<%- end -%>

<ul id="found-names-summary">
  <% if !@url.blank? %>
  <li><strong>URL: </strong><%= @url -%></li>
  <% end %>
  <li><strong>Total: </strong><%= @output[:total] -%></li>
  <li><strong>Engine(s): </strong><%= @output[:engines].join(", ") -%></li>
</ul>

<table id="found-names-grid">
  <thead>
    <tr><th>Verbatim</th><th>Scientific</th></tr>
  </thead>
  <tbody>
<%- @output[:names].sort { |a,b| a[:verbatim] <=> b[:verbatim] }.each do |name| -%>
  <tr class="<%= cycle("even", "odd") -%>"><td><%= name[:verbatim] -%></td><td><%= name[:scientificName] -%></td></tr>
<%- end -%>
  </tbody>
</table>