<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? "Global Names Recognition and Discovery :: " << content_for(:title) : "Global Names Recognition and Discovery" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="SiteContainer" class="structural">

    <div class="background"></div>

    <%= render :partial => 'layouts/header' %>

   <div id="BodyContent" class="structural fixedWidth clear">
     <div class="inner">
       <div id="content-wrapper">
         <%- flash.each do |name, msg| -%>
           <%= content_tag :div, msg, :id => "flash_#{name}" %>
         <%- end -%>
         <%- if content_for?(:content_splash) -%>
           <div id="content-splash">
             <%=  content_for(:content_splash) %>
           </div>
         <%- end -%>
         <div id="content-body">
           <%= yield %>
         </div>
         <%- if content_for?(:content_features) -%>
           <div id="content-features" class="clear">
             <%= content_for(:content_features) %>
           </div>
         <%- end -%>
       </div>
     </div>
   </div>

   <%= render :partial => 'layouts/footer' %>

  </div>
</body>
</html>